#top{
    background-color: aqua;
    background-image: url("https://i.pinimg.com/564x/dd/c7/68/ddc768bb97c211cd5e0dcfb3508f7774.jpg");
    background-repeat: no-repeat;
    background-size:contain;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    height: 200px;
}

h1{
    margin-left: 20%;
    font-size: 50px;
    font-family:'fantasy';
 }

 p{
    margin-left: 20%;
 }

.section-II{
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    height: 720px;
    display: flex;
    background-color: aqua;
    margin-top: 1%;
}

.d-flex{
    display: flex;
    justify-content: center;
    padding-top: 3%;
    margin-right: 10%;
}

#submit-form{
    margin-top: 10%;
    font-size: large;
    color: white;
    margin-left: 5%;
}

input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 1%;
}
  
input[type=submit] {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 1%;
}
  
input[type=submit]:hover {
    background-color: #45a049;
}

#open-button {
    background-color: rgb(255, 254, 254);
    color: rgb(0, 0, 0);
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    width: 90px;
    margin-top: 10%;
    margin-left: 700%;
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
    
}

.form-container input[type=text], .form-container input[type=password] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

.form-container .cancel {
    background-color: red;
}

.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

#second-nav{
    background-color: rgb(96, 95, 95);
}

.d-flex{
    margin-bottom: 5%;
}

#fav-art{
    background-color: grey;
    width: 29%;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
}

#post{
    margin-left: 3%;
    height: 30px;
    width: 25%;
    outline: 0;
}

li{
    list-style: none;
}

#form{
    background-color: white;
    text-align: center;

}

#comment-box, #post {
    border: none;
    border-radius: 5px;
}
#post:hover{
    background-color: deeppink;
    box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.2);
}

#gala{
    color: blueviolet;
}

.display{
    display: flex;
    justify-content: space-around;
    margin-left: 20%;
    margin-top: 5%;
}

h4{
    margin-top: 0;
}

.like-button{
    border: hidden;
    color: crimson;
    font-size: 34px;
    background-color: transparent;
    padding-left: 5%;
    cursor: pointer;
}

