 .left{
    background-color: grey;
    float: left;
    width: 29%;
    height: 600px;
    border-right-style: solid;
    
 }
 
 #logo{
    width: 30%;
    height: 20%;
    
    
 }

 h1{
    font-size: larger;
 }

.right{
    background-image: url(https://i.pinimg.com/564x/9d/b3/1b/9db31bb14b79dd048afda91ea85a9f58.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    width: 70.7%;
    height: 600px;
 }

 #navbar{
    display: flex;
    /* justify-content: center;
    justify-content: space-around; */
    background-color: black;
    height: 10%;
 }

#title{
    margin-top: 30%;
    margin-left: 5%;
    font-size: xx-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#paragraph{
    margin-left: 2%;
    margin-right: 2%;
}

.nav-link{
    color: rgb(255, 255, 255);
    margin-top: 2%;
    margin-left: 2%;
}

body{
    background-color: rgb(98, 57, 57);
    margin-top: 3%;
    margin-left: 3%;
    margin-bottom: 3%;
    margin-right: 3%;
}

.d-flex{
    display: flex;
    justify-content: center;
    padding-top: 3%;
    margin-right: 10%;
    
}
#submit-form{
    margin-top: 10%;
    font-size: large;
    color: white;
    margin-left: 5%;
}

input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 1%;
}
  
input[type=submit] {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 1%;
}
  
input[type=submit]:hover {
    background-color: #45a049;
}

#open-button {
    background-color: rgb(255, 254, 254);
    color: rgb(0, 0, 0);
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    width: 90px;
    margin-top: 10%;
    margin-left: 700%;
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
    
}

.form-container input[type=text], .form-container input[type=password] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

.form-container .cancel {
    background-color: red;
}

.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

#second-nav{
    background-color: rgb(96, 95, 95);
}

.d-flex{
    margin-bottom: 5%;
}

.section-II{
    width: 100%;
    height: 700px;
    display: flex;
    /* padding-top: 5%; */
}
#digital-img {
    margin-top: 40%;
}

.section-II{
    background-color: wheat;
    height: 600px;
    margin-top: 600px;
}
 
.card{
     margin-top: 10%;
     margin-left: 50%;

}

#fav-art{
    background-color: grey;
    width: 29%;
    margin-top: 0;
    margin-bottom: 0;
}

#post{
    margin-left: 3%;
    
}

li{
    list-style: none;
}

#form{
    background-color: white;
    text-align: center;
    
}

#comment-box, #post {
    border: none;
    border-radius: 5px;
}
#post:hover{
    background-color: deeppink;
}

#gala{
    color: blueviolet;
}

 